{% extends 'base.html' %}

{% block title %}Contact | Sanlayan{% endblock title %}

{% block body %}

<!-- [3] Page-Header -->
<header class="page-header parallax-window bg_img dark_overlay" 
    data-src="static/img/gallery_home.jpg">
    <div class="container breadcrumbs-wrapper">
        <div class="breadcrumbs d-flex flex-column justify-content-center">
            <h1 class="title">Contacts</h1>
            <div>
                <ul class="breadcrumbs-list d-flex">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- [4] Contacts Grid -->
<section class="contacts-grid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 grid-item white-section d-flex justify-content-center align-items-center"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="100"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out">
                <div class="content d-flex flex-column">
                    <h3 class="title">Location</h3>
                    <p class="contact">New York, NY 10118</p>
                </div>
            </div>
            <div class="col-md-4 grid-item white-section d-flex justify-content-center align-items-center"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out">
                <div class="content d-flex flex-column">
                    <h3 class="title">Email Us</h3>
                    <a class="contact" href="mailto:">info@domain.com</a>
                    <a class="contact" href="mailto:">example@domain.com</a>
                </div>
            </div>
            <div class="col-md-4 grid-item black-section d-flex justify-content-center align-items-center"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="300"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out">
                <div class="content white d-flex flex-column">
                    <h3 class="title">Let's talk</h3>
                    <a class="contact" href="tel:">+ 1-800-222-000</a>
                    <a class="contact" href="tel:">+ 1-123-456-789</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [5] Contact Form Section -->
<section class="contact-form-section parallax-window color_overlay dark_overlay_gradient"
         data-speed="0.5" data-src="http://via.placeholder.com/1920x1080">
    <div class="container heading">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="section-title text-center title-divider white-section-title"
                    data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="100"
                    data-aos-duration="700"
                    data-aos-easing="ease-in-out">Get In Touch
                    <span class="highlight">.</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container contact-wrapper">
        <div class="row d-flex flex-column"
             data-aos="fade-up"
             data-aos-anchor-placement="top-bottom"
             data-aos-delay="100"
             data-aos-duration="800"
             data-aos-easing="ease-in-out">
            
            <form class="primary-contact-form d-flex flex-column" id="ajax-contact">
                <div class="input-row">
                    <input class="form-name" name="name" placeholder="Name*" required type="text">
                    <input class="form-phone" name="phone" placeholder="Phone" type="text">
                </div>
                <input class="form-email" name="email" placeholder="Email*" required type="email">
                <textarea class="form-message" name="message" placeholder="Your message..."></textarea>
                <div class="d-flex justify-content-center">
                    <button class="button-submit" type="submit">Send Message</button>
                </div>
            </form>
        
        </div>
    </div>
</section>
<!-- [6] Map Section -->
<section class="map-section">
    <div class="toggle-map d-flex justify-content-center align-items-center border-top-simple border-bottom-simple">
        <div class="show active flex-column align-items-center">
            <p>Show Map</p>
            <i class="fa fa-angle-down"></i>
        </div>
        <div class="hide flex-column align-items-center">
            <p>Hide Map</p>
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
    <div id="map"></div>
</section>
<!-- [7] Follow Us Section -->
<section class="follow-us-section large-section gray-section">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="section-title text-center title-divider"
                    data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="100"
                    data-aos-duration="700"
                    data-aos-easing="ease-in-out">Follow Us
                    <span class="highlight">.</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="social-wrapper d-flex"
                 data-aos="flip-down"
                 data-aos-anchor=".map-section "
                 data-aos-delay="100"
                 data-aos-duration="800"
                 data-aos-easing="ease-in-out">
                <a class="social-box facebook-h" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="social-box instagram-h" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="social-box twitter-h" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="social-box linkedin-h" href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="social-box google-plus-h" href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}