<!doctype html>
<html lang="zxx">
<head>
	<meta charset=UTF-8>
	<meta content="width=device-width, initial-scale=1.0" name=viewport>
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<!-- Chrome, Firefox OS and Opera -->
	<meta content="#ee3158" name="theme-color" />
	<!-- Windows Phone -->
	<meta content="#ee3158" name="msapplication-navbutton-color" />
	<meta content=#FFFFFF name=msapplication-TileColor>
	<meta content=favicon.ico name=msapplication-TileImage>
	<!-- iOS Safari -->
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black-transcluent" name="apple-mobile-web-app-status-bar-style" />
	<title>SANLAYAN</title>
	
	<!-- css-files -->
	<link href="static/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/assets/css/swiper.min.css" rel="stylesheet">
	<link href="static/assets/css/magnific-popup.min.css" rel="stylesheet">
	<link href="static/assets/css/aos.min.css" rel="stylesheet">
	<link href="static/assets/css/fonts.css" rel="stylesheet">
	<link href="static/assets/css/main.css" rel="stylesheet">
</head>
<!--
[Home Page]
[1] Page Loader
[2] Navigation-Menu
[3] Hero-Header
[4] About Section
[5] Digital Services
[6] Counter Section
[7] Team Section
[8] Blockquote Section
[9] Content Section
[10] Recent Projects
[11] Testimonials
[12] Recent Posts
[13] Footer
-->
<body>
<!-- [1] Page Loader -->
<div class="loader">
	<div class="loading">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class="wrapper-hidden z-index-100" id="main-wrapper">
	<!-- [2] Navigation-Menu -->
	<nav class="navigation navigation-type-2">
		<div class="inner-wrapper">
			<div class="navigation-wrapper">
				<div class="logotype-wrapper">
					<a href="index.html">
						<img alt="Logo"
						     src="static/img/logo.jpg">
					</a>
				</div>
			    <div>
					<h2>Sanlayan</h2>
				</div>
				<div class="right-side">
					<div class="menu-list-wrapper">
						<ul class="menu-list">
							<li class="menu-item">
								<a href="/">Home</a>
							</li>
							<li class="menu-item menu-item-has-children">
								<a>About Us</a>
								<ul class="sub-menu">
									<li class="menu-item"><a href="about">About</a></li>
									<li class="menu-item"><a href="services">Services</a></li>
									<li class="menu-item"><a href="#">Team</a></li>
								</ul>
							</li>
							
							<li class="menu-item">
								<a href="gallery">Gallery</a>
							</li>
							<li class="menu-item">
								<a href="contact">Contact Us</a>
							</li>
						</ul>
					</div>
					<ul class="social-list">
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-facebook-f"
								   style="color: #3B5999;"></i>
							</a>
						</li>
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-twitter"
								   style="color: #1DA1F2;"></i>
							</a>
						</li>
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-behance"
								   style="color: #053EFF;"></i>
							</a>
						</li>
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-reddit"
								   style="color: #FF4301;"></i>
							</a>
						</li>
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-dribbble"
								   style="color: #EA4C89;"></i>
							</a>
						</li>
						<li>
							<a href="https://themeforest.net/user/jkdevstudio">
								<i class="fab fa-vine"
								   style="color: #00B488;"></i>
							</a>
						</li>
					</ul>
					<div class="search-form-toggle">
						<i class="fa fa-search"></i>
					</div>
				</div>
			</div>
			<div class="search-form-wrapper">
				<div class="search-form">
					<div class="form-wrapper">
						<form role="search">
							<input class="search-field" placeholder="Enter some keywords..."
							       title="Enter some keywords..."
							       type="search">
							<button class="search-submit" type="submit">
								<i class="icofont-search"></i>
							</button>
						</form>
						<div class="search-form-close">
							<i class="far fa-times-circle"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<nav class="navigation-mobile">
		<div class="inner-wrapper">
			<!-- Logotype -->
			<div class="logotype-wrapper">
				<a href="index.html">
					<img alt="Logo"
					     src="static/img/logo.jpg">
				</a>
			</div>
			<div class="navigation-side">
				<div class="search-form-toggle toggle-button">
					<i class="fa fa-search"></i>
				</div>
				<div class="menu-toggle-wrapper">
					<div class="menu-toggle toggle-button">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="search-form-wrapper">
			<div class="search-form">
				<div class="form-wrapper">
					<form role="search">
						<input class="search-field" placeholder="Enter some keywords..."
						       title="Enter some keywords..."
						       type="search">
						<button class="search-submit" type="submit">
							<i class="icofont-search"></i>
						</button>
					</form>
					<div class="search-form-close">
						<i class="far fa-times-circle"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- Menu list -->
		<div class="menu-list-wrapper" data-back-link="go back">
			<div class="menu-toggle-close">
				<i class="far fa-times-circle"></i>
			</div>
			<ul class="menu-list">
				<li class="menu-item">
					<a href="/">Home</a>
				</li>
				<li class="menu-item menu-item-has-children">
					<a>About Us</a>
					<ul class="sub-menu">
						<li class="menu-item"><a href="about">About</a></li>
						<li class="menu-item"><a href="services">Services</a></li>
						<li class="menu-item"><a href="team.html">Team</a></li>
					
					</ul>
				</li>

				<li class="menu-item">
					<a href="gallery">Gallery</a>
				</li>
				<li class="menu-item">
					<a href="contact">Contact Us</a>
				</li>
			</ul>
		</div>
				
						
						
					
	</nav>
	<!-- [3] Hero-Header -->
	<section class="hero-header hero-default dark_overlay parallax-window"
	         data-section-type="canvas_circles"
	         data-src="static/img/banner.jpg">
		<div class="canvas-wrapper" id="canvas-parent">
			<canvas id="canvas-hero"></canvas>
		</div>
		<div class="container hero-content hero-center d-flex align-items-center">
			<div class="content-default">
				<h1 class="display-3 content-heading bold-heading z-index-100"
				    data-aos="zoom-in"
				    data-aos-delay="900"
				    data-aos-duration="700"
				    data-aos-easing="ease-in-out">
					Sanlayan
					<span class="highlight">.</span>
				</h1>
				<p class="subtitle z-index-100"
				   data-aos="zoom-in"
				   data-aos-delay="1100"
				   data-aos-duration="700"
				   data-aos-easing="ease-in-out">Every small dream is a Big dreamn</p>
				<div class="social-type-2 d-flex flex-wrap justify-content-center" data-aos="zoom-in"
				     data-aos-delay="1300"
				     data-aos-duration="700"
				     data-aos-easing="ease-in-out">
					<a class="social-box facebook-h" href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a class="social-box instagram-h" href="#">
						<i class="fab fa-instagram"></i>
					</a>
					<a class="social-box twitter-h" href="#">
						<i class="fab fa-twitter"></i>
					</a>
					<a class="social-box linkedin-h" href="#">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a class="social-box google-plus-h" href="#">
						<i class="fab fa-google-plus-g"></i>
					</a>
				</div>
			</div>
			<div class="angle-down"
			     data-aos="zoom-in"
			     data-aos-anchor=".hero-header"
			     data-aos-delay="1300"
			     data-aos-duration="700"
			     data-aos-easing="ease-in-out">
				<p>scroll down</p>
				<i class="fa fa-chevron-down"></i>
			</div>
		</div>
	</section>
	<!-- [4] About Section -->
	<section class="about-creative-section large-section">
		<div class="container">
			<div class="container">
				<div class="row">
					<div class="col d-flex justify-content-center">
						<h2 class="section-title text-center title-divider">Every human is an 
                            Entrepreneur! We want to 
                            invest and mentor the 
                            promising entrepreneur by 
                            providing access to capital, 
                            motivating repeat usages, 
                            and creating a graduation 
                            pathway to improve their 
                            social and economic wellbeing!
							<span class="highlight">.</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row images-wrapper">
				<div class="col-lg-8 col-12 d-flex align-items-center">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="static/img/microfinance.jpg">
					</div>
				</div>
				<div class="col-lg-4 two-side align-items-center">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="static/img/hardwork.jpg">
					</div>
				</div>
			</div>
			<div class="row steps-wrapper">
				<div class="col-md-6 step-wrapper d-flex">
					<!-- <div>
						<h2 class="num display-4">01.</h2>
					</div> -->
					<div class="step-body">
						<h6>Mission.</h6>
						<p>Every small dream is a Big dream</p>
					</div>
				</div>
				<div class="col-md-6 step-wrapper d-flex">
					<!-- <div>
						<h2 class="num display-4">02.</h2>
					</div> -->
					<div class="step-body">
						<h6>Vision.</h6>
						<p>To be one of the most prominent and socially valued organization in India of the products which add value and happiness to the household</p>
					</div>
				</div>
				<!-- <div class="col-md-4 step-wrapper d-flex">
					<div>
						<h2 class="num display-4">03.</h2>
					</div>
					<div class="step-body">
						<h6>Objective.</h6>
						<p>Lorem ipsum dolor sit amet, cemur adipisic elit maxim modisy nam placeat facilis</p>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<!-- [5] Digital Services -->
	<section class="digital-services">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-12 content light-gray-section">
					<div class="content-wrapper">
						<h3 class="section-title">Our Business Model</h3>
						<p class="subtitle">Optimum Human and tech interface </p>
						<div class="row">
							<div class="col-md-6 col-lg-12 col-xl-6">
								<div class="d-flex service-item-type-2">
									<div class="icon-wrapper d-flex align-items-center justify-content-center">
										<i class="fa fa-wrench"></i>
									</div>
									<div class="d-flex flex-column">
										<h6 class="title-service">Microfinance- Gorup Loan (JLG Model)</h6>
										<p class="service-text"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-12 col-xl-6">
								<div class="d-flex service-item-type-2">
									<div class="icon-wrapper d-flex align-items-center justify-content-center">
										<i class="fa fa-paint-brush"></i>
									</div>
									<div class="d-flex flex-column">
										<h6 class="title-service">Micro enterprise /MSME-Retailer, SSI , Servicess</h6>
										<p class="service-text"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-12 col-xl-6">
								<div class="d-flex service-item-type-2">
									<div class="icon-wrapper d-flex align-items-center justify-content-center">
										<i class="fa fa-bookmark"></i>
									</div>
									<div class="d-flex flex-column">
										<h6 class="title-service">Micro-LAP</h6>
										<p class="service-text"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-12 col-xl-6">
								<div class="d-flex service-item-type-2">
									<div class="icon-wrapper d-flex align-items-center justify-content-center">
										<i class="fa fa-cog"></i>
									</div>
									<div class="d-flex flex-column">
										<h6 class="title-service">Consumer Durable Loans</h6>
										<p class="service-text"></p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-12 col-xl-6">
								<div class="d-flex service-item-type-2">
									<div class="icon-wrapper d-flex align-items-center justify-content-center">
										<i class="fa fa-cog"></i>
									</div>
									<div class="d-flex flex-column">
										<h6 class="title-service">Dairy Loan</h6>
										<p class="service-text"></p>
									</div>
								</div>
							</div>
						<div class="btn-wrapper d-flex">
							<a class="button-default-white" href="#">Explore</a>
							
						</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12 image parallax-window"
				     data-src="static/img/bg1.jpg">
				</div>
				<div class="col-lg-6 col-12 image bg_img parallax-window last-image"
				     data-src="static/img/bg2.jpg">
				</div>
				<div class="col-lg-6 col-12 content-about light-gray-section">
					<div class="content-wrapper">
						<h3 class="section-title">Who we are</h3>
						<p class="about-text">Sanlayan is a Sanskrit word which means fusion ,
                            The very idea behind the formation of the organization is the fusion 
                            (Sanlayan) of every stake holder in the value chain for the well being 
                            of all the skate holder .We started as a proprietorship company during 2018 
                            with an unique idea of using JLG model of micro lending in providing consumer 
                            appliances of income generation , clean energy ,   general household appliances 
                            and furnishing item to Rural/semi urban household to whom finance from formal main 
                            stream institution is not available .Having successfully tested the model,
                            we scaled it up and incorporated as private limited company on during July 
                            2019 as Sanlayan India Private Limited.
						</p>
						<div class="btn-wrapper d-flex">
							<a class="button-default-white" href="#">Explore</a>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- [6] Counter Section -->
	<section class="counters-section-type-2 border-bottom-simple border-top-simple">
		<div class="container-fluid">
			<div class="row counters-wrapper justify-content-center">
				<div class="col-sm-4 col-6 counter-box first-side d-flex flex-column align-items-center"><p
						class="title-counter">Branches</p>
					<span class="prop-obj prop-obj1"
					      data-count="2">0</span>
				</div>
				<div class="col-sm-4 col-6 counter-box second-side d-flex flex-column align-items-center">
					<p class="title-counter">Client Members</p>
					<span class="prop-obj prop-obj2"
					      data-count="600">0</span>
				</div>
				<div class="col-sm-4 col-6 counter-box third-side d-flex flex-column align-items-center">
					<p class="title-counter">POS</p>
					<span class="prop-obj prop-obj3"
					      data-count="30000000">0</span>
				</div>
			</div>
		</div>
	</section>
	<!-- [7] Team Section -->
	<section class="team-section large-section bg-attachment-fixed bg-size-cover"
	         style="background-image: url('assets/img/assets/inspiration-geometry.png')">
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<h2 class="section-title text-center title-divider">Our Partners
						<span class="highlight">.</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="swiper-container swiper-team members-slider-type-1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="member-wrapper">
							<div class="img-wrapper">
								<img alt="" class="img-fluid" src="static/img/arthmate.png">
							</div>
							<div class="member-description">
								<div class="content-wrapper d-flex justify-content-center align-items-end">
									<div class="content d-flex flex-column align-items-center justify-content-end">
										<h6 class="name">Arthmate</h6>
										<p class="position">MSME- BC programe</p>
										<div class="social-wrapper d-flex">
											<a class="social-box" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="social-box" href="#"><i class="fab fa-twitter"></i></a>
											<a class="social-box" href="#"><i class="fab fa-google-plus-g"></i></a>
											<a class="social-box" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide ">
						<div class="member-wrapper">
							<div class="img-wrapper">
								<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
							</div>
							<div class="member-description">
								<div class="content-wrapper d-flex justify-content-center align-items-end">
									<div class="content d-flex flex-column align-items-center justify-content-end">
										<h6 class="name">Transunion</h6>
										<p class="position">CIC</p>
										<div class="social-wrapper d-flex">
											<a class="social-box" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="social-box" href="#"><i class="fab fa-twitter"></i></a>
											<a class="social-box" href="#"><i class="fab fa-google-plus-g"></i></a>
											<a class="social-box" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide ">
						<div class="member-wrapper">
							<div class="img-wrapper">
								<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
							</div>
							<div class="member-description">
								<div class="content-wrapper d-flex justify-content-center align-items-end">
									<div class="content d-flex flex-column align-items-center justify-content-end">
										<h6 class="name">Reliance</h6>
										<p class="position">Insurance Provider</p>
										<div class="social-wrapper d-flex">
											<a class="social-box" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="social-box" href="#"><i class="fab fa-twitter"></i></a>
											<a class="social-box" href="#"><i class="fab fa-google-plus-g"></i></a>
											<a class="social-box" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="swiper-slide ">
						<div class="member-wrapper">
							<div class="img-wrapper">
								<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
							</div>
							<div class="member-description">
								<div class="content-wrapper d-flex justify-content-center align-items-end">
									<div class="content d-flex flex-column align-items-center justify-content-end">
										<h6 class="name">Frank Horrigan</h6>
										<p class="position">Designer</p>
										<div class="social-wrapper d-flex">
											<a class="social-box" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="social-box" href="#"><i class="fab fa-twitter"></i></a>
											<a class="social-box" href="#"><i class="fab fa-google-plus-g"></i></a>
											<a class="social-box" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="swiper-slide ">
						<div class="member-wrapper">
							<div class="img-wrapper">
								<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
							</div>
							<div class="member-description">
								<div class="content-wrapper d-flex justify-content-center align-items-end">
									<div class="content d-flex flex-column align-items-center justify-content-end">
										<h6 class="name">Alex Gray</h6>
										<p class="position">Lead Developer</p>
										<div class="social-wrapper d-flex">
											<a class="social-box" href="#"><i class="fab fa-facebook-f"></i></a>
											<a class="social-box" href="#"><i class="fab fa-twitter"></i></a>
											<a class="social-box" href="#"><i class="fab fa-google-plus-g"></i></a>
											<a class="social-box" href="#"><i class="fab fa-linkedin-in"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="swiper-pagination-bullets-common"></div>
	</section>
	<!-- [8] Blockquote Section -->
	<section class="simple-background blockquote-section-type-1 parallax-window default_overlay"
	         style="background-image: url('static/img/bg3.jpg')">
		<div class="container blockquote-wrapper d-flex align-items-center justify-content-center">
			<div class="row">
				<div class="col blockquote-col d-flex justify-content-center">
					<blockquote>
						<h4>Legal Status-Sanlayan</h4>
						  <p style="color:aliceblue">Private Limited Company registered in 2019.
							 Incorporation No.	U51909JH2019PTC013259 </br>
                             PAN:	ABCCS4295H </br>
                             Registered/Corporate Office: Panchwati Puram, Bariatu, Ranchi, Jharkhand, India, 834002</br>
                             Object of formation:	Authorized to be BC partner of NBFC/Bank as one of the object
						  </p>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
	<!-- [9] Content Section -->
	<section class="content-section-type-2 flip-section large-section gray-section">
		<div class="container">
            <div class="row">
				<div class="col d-flex justify-content-center">
					<h2 class="section-title text-center title-divider">Three Pillars of Trust Business
						<span class="highlight">.</span>
					</h2>
				</div>
			</div>
			<div class="row">
                
				<div class="col-lg-6">
					<div class="flip-container">
						<div class="img-wrapper">
							<div class="front side">
								<img alt="" class="img-fluid" src="static/img/workflowMIS.jpg">
							</div>
							<div class="back side">
								<div class="content-wrapper d-flex flex-column justify-content-center align-items-center">
									<h5>Understand the situation</h5>
									<p>Better client relations, Good staff with high morale and integrity, 
                                        well diversified product and economies of client base which is 
                                        supported by state of art IT interface (Fintech) is the need of hour. 
                                        There is an   immediate need of credit line to the sector, mostly for 
                                        the productive purpose which adds value to their occupation and life. 
                                        This leaves us with immense market potential. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row services-wrapper">
						<div class="col-12 service-wrapper d-flex align-items-center">
							<div class="icon-wrapper d-flex align-items-center justify-content-center">
								<i class="fa fa-th"></i>
							</div>
							<div class="content-wrapper d-flex flex-column">
								<h6>Right Strategy</h6>
								<p>Shaping key risk management aspects with learned & expert team and advisors from the sectors</p>
							</div>
						</div>
						<div class="col-12 service-wrapper d-flex align-items-center">
							<div class="icon-wrapper d-flex align-items-center justify-content-center">
								<i class="fas fa-terminal"></i>
							</div>
							<div class="content-wrapper d-flex flex-column">
								<h6>IT Infrastructure</h6>
								<p>Customize cloud based Audit Software with real time reporting and live updates</p>
							</div>
						
						</div>
						<div class="col-12 service-wrapper d-flex align-items-center">
							<div class="icon-wrapper d-flex align-items-center justify-content-center">
								<i class="fa fas fa-phone-volume"></i>
							</div>
							<div class="content-wrapper d-flex flex-column">
								<h6>Foot on field</h6>
								<p>Experienced team from the sectors as Field Auditors</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- [10] Recent Projects -->
	<!-- <section class="projects-section light-gray-section">
		<div class="container">
			<div class="button-group button-group-default d-flex justify-content-center">
				<button class="active-button" data-filter="*">Show All</button>
				<button data-filter=".branding">Branding</button>
				<button data-filter=".design">Design</button>
				<button data-filter=".packaging">Packaging</button>
				<button data-filter=".advertising">Advertising</button>
			</div>
		</div>
		<div class="container-fluid">
			<div class="grid row">
				<div class="grid-item design advertising">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Cup of coffee</h6>
									<p class="info">
										<span>17<i class="fa fa-comments"></i></span>
										<span>24<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item design">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Notebook Mockup</h6>
									<p class="info">
										<span>13<i class="fa fa-comments"></i></span>
										<span>21<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item branding packaging advertising">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Clipboard Stationery</h6>
									<p class="info">
										<span>24<i class="fa fa-comments"></i></span>
										<span>21<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item advertising">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Paper Bag</h6>
									<p class="info">
										<span>35<i class="fa fa-comments"></i></span>
										<span>52<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item advertising">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Book Mockup</h6>
									<p class="info">
										<span>12<i class="fa fa-comments"></i></span>
										<span>23<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item packaging advertising">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Cards Mockup</h6>
									<p class="info">
										<span>24<i class="fa fa-comments"></i></span>
										<span>15<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item branding">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Branding Mockup</h6>
									<p class="info">
										<span>15<i class="fa fa-comments"></i></span>
										<span>11<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="grid-item branding packaging">
					<div class="img-wrapper">
						<img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
						<div class="description-box hover3d-wrapper">
							<a class="content d-flex align-items-end hover3d-child"
							   href="project-mixed-1.html">
								<div class="content-wrapper d-flex justify-content-between">
									<h6>Branding Mockup</h6>
									<p class="info">
										<span>8<i class="fa fa-comments"></i></span>
										<span>14<i class="far fa-heart"></i></span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- [11] Testimonials -->
	<section class="testimonials large-section black_overlay"
	         style="background-image: url('static/img/bg3.jpg')">
		<div class="container-fluid testimonials-wrapper">
			<div class="swiper-container swiper-testimonials">
				<div class="swiper-wrapper">
					<!-- <div class="swiper-slide">
						<div class="review-wrapper">
							<div class="img-wrapper">
								<img alt="" src="http://via.placeholder.com/1920x1080">
							</div>
							<h5 class="client">Vikash Kumar</h5>
							<p class="position">Consultant</p>
							<p class="review">
                                An ex Air force officer and a management Graduate from XIM, 
                                Bhubaneswar with more than 23 years in multi-socio-cultural 
                                professional front , all across the nation in the array of financial 
                                products like Microfinance, Gold loan, Enterprise loan, Wholesale 
                                lending, Cross sale loan and Mortgage & housing Loan. 
                                Frist hand experience of sales and operation of more than 20 years
                                by leading from front , merged with central responsibility of P&L of
                                an organization , Audit and Risk Management , Product and system
                                development ,design, process development etc makes him one of
                                its kind of professional in Banking and financial sector serving Rural
                                Indian sector .
                                Education:
                                MBA, Xavier Institute of Management, Bhubaneswar, Other courses
                                in XIMB in Six Sigma, Retail Management, Portfolio Management,
                                Retail Marketing, ERP, Neuro-Marketing, Certificate Course in
                                French Language
                                NCFM Certifications: Capital, Commodities, Securities, Derivative 
                                market, AMFI certified.</br>
                                BA, Public Administration, IGNOU, New Delhi
                                Engineering degree - Radio communication and electronics, CTI AF, 
                                Bangalore
							</p>
						</div>
					</div> -->
					<div class="swiper-slide">
						<div class="review-wrapper">
							<div class="img-wrapper">
								<img alt="" src="http://via.placeholder.com/1920x1080">
							</div>
							<h5 class="client">Praveen Kumar Singh</h5>
							<p class="position">COO, SANLAYAN</p>
							<p class="review">
								Mr. Praveen Kumar Singh is having blend of Professional expertise in 
                                a field of finance
                                Praveen has an impeccable record of High Customer Service 
                                Delivery and Best in Class Industrial Expertise as a Senior Manager 
                                in Micro Finance Industry handling more than 100 + Branches across 
                                5 States.
                                After gaining industrial expertise Praveen Successfully started his 
                                very first venture Kalyan Micro Services Foundation in 2021 and 
                                Kalyan Financial Solution in 2022 with branches in more than 10 
                                districts in Jharkhand and other branches are on the verge of launch 
                                in Jharkhand and Bihar. 
                                Praveen Kumar is known for his friendly and down to earth 
                                behaviour at the same time maintaining highest ethical standard 
                                pertaining to all the stakeholders of the company.</br>
                                Educations : MBA –XISS Ranchi 
                                BBA–BIT MESRA ,Ranchi
							</p>
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<div class="review-wrapper">
							<div class="img-wrapper">
								<img alt="" src="http://via.placeholder.com/1920x1080">
							</div>
							<h5 class="client">Avanish Singh</h5>
							<p class="position">CTO, SANLAYAN</p>
							<p class="review">
								Avanish has more than 10 years of experience of working in IT sector. He is 
                                result oriented, disciplined and forward looking thinker. He headed full 
                                scale development of MIS and Mobile App for microfinance, Mobile App 
                                and MIS for Education sector, several dashboards and Apps for social 
                                sector.
                                His workex also includes - experience in IT consulting, strategy and 
                                Business Continuity Planning & change management, migration of 
                                portfolio, Monitoring tools 
                                Digitalization of microfinance activities along with field monitoring. Apply 
                                different validations to mitigate risk. Automated report module to help 
                                management. Various verticals like Accounts, Audit, Risk, HR and 
                                Operations are connected through MIS. Development of Android App to 
                                support business activities
                                IT automation to different projects of HUMANA (YBL-Disha, CDP, MCH, 
                                NETT), Extend full IT support to Magenta Financial Services Private 
                                Limited.
                                Development of ERP Modules for Educational Institute using C#, SQL Server 
                                Development of Online and Offline Modules for Insurance Broker using 
                                Struts Framework, Maven Support.
                                Specialties: Software Development, Team Lead, Research and 
                                Development, IT infrastructure in NBFCs </br>
                                Education : 
                                MBA from IIIT-A in IT-Marketing
							</p>
						</div>
					</div> -->
					<div class="swiper-slide">
						<div class="review-wrapper">
							<div class="img-wrapper">
								<img alt="" src="http://via.placeholder.com/1920x1080">
							</div>
							<h5 class="client">Sangeeta Kumari</h5>
							<p class="position">HR Head & Director, SANLAYAN</p>
							<p class="review">
								With the vision of providing consumer appliances at 
                                affordable price, terms and condition to the rural India 
                                ,Mrs. Sangeeta Kumari has founded Sanlayan India, 
                                having good experience of sale and marketing of 
                                Insurance ,Mutual fund and other financial products 
                                ,She is well versed in running a successful business .
                                She has been running a financial advisory firm in the 
                                name of win-life services.
                                Currently she looks after HR related functions of 
                                Sanlayan .</br>
                                Education:
                                B Com , Certification-IRDA
							</p>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-wrapper">
							<div class="img-wrapper">
								<img alt="" src="http://via.placeholder.com/1920x1080">
							</div>
							<h5 class="client">Ghulam Zilani</h5>
							<p class="position">Regional Head & Director, SANLAYAN</p>
							<p class="review">
								He is having more than 12 years of experience in financial services, 
                                micro finance and banking sector. As a Branch Manager ,Area 
                                Manager and Centre Head of company like Bharat Financial Inclusion 
                                Ltd ( Indusind Bank), Arohan Financial Services and Jana Small 
                                Finance Bank .
                                His responsibility included Managing and reviewing the entire 
                                portfolio quality and services , Random visits to various centres for 
                                proper disbursement and compliances with clients. Develop short 
                                term and long term business plan pertaining to Client outreach and 
                                Disbursements , Plan and execute the expansion of operation in 
                                newer geography, Responsible for collection/efficiency ,delinquency 
                                and NPAs , Identifying training needs for employees at different 
                                hierarchical levels and preparing structured training calendar and 
                                Training Modules., Surveying new potential areas/Product </br>
                                Education:
                                B Com
							</p>
						</div>
					</div>
				
				</div>
				<div class="swiper-pagination-bullets-default"></div>
				<div class="nav justify-content-between">
					<div class="swiper-button-prev-testimonials"><i class="fa fa-angle-left"></i></div>
					<div class="swiper-button-next-testimonials"><i class="fa fa-angle-right"></i></div>
				</div>
			</div>
		</div>
	</section>
	<!-- [12] Recent Posts -->
        <!-- <section class="recent-posts gray-section large-section"
                style="background-image: url('assets/img/assets/absurdity.png')">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h2 class="section-title text-center title-divider">Recent Posts
                                <span
                                        class="highlight">.</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row blog-wrapper">
                    <div class="col-lg-4">
                        <div class="blog-card-wrapper hover3d-wrapper">
                            <div class="card-content hover3d-child">
                                <div class="card-blog-header">
                                    <div class="img-wrapper d-flex align-items-center justify-content-center">
                                        <a href="blog-single-post-sidebar-layout.html">
                                            <img alt="" class="img-fluid img" src="http://via.placeholder.com/1920x1080">
                                            <div class="tag bg-color-purple">Modern</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-blog-body">
                                    <h6><a href="#">Web Design trends</a></h6>
                                    <p class="content">Lorem ipsum dolor sit amet, conctetur ping elit. A archcto codi
                                                    cumque
                                                    dissimos dobus, dolorum eos expbo id iusto lorum<a href="#">[...]</a>
                                    </p>
                                    <div class="card-blog-footer d-flex justify-content-between align-items-end">
                                        <p class="date d-flex align-items-end">
                                            <i class="fas fa-calendar-alt"></i>
                                            April 25, 2023
                                        </p>
                                        <p class="info d-flex align-items-end">
                                            <span><i class="fas fa-comment-alt"></i>26</span>
                                            <span><i class="fas fa-heart"></i>15</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card-wrapper hover3d-wrapper">
                            <div class="card-content hover3d-child">
                                <div class="card-blog-header">
                                    <div class="img-wrapper d-flex align-items-center justify-content-center">
                                        <a href="blog-single-post-sidebar-layout.html">
                                            <img alt="" class="img-fluid img" src="http://via.placeholder.com/1920x1080">
                                            <div class="tag bg-color-blue">Lifestyle</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-blog-body">
                                    <h6><a href="#">Guide to UX prototyping</a></h6>
                                    <p class="content">Lorem ipsum dolor sit amet, conctetur ping elit. A archcto codi
                                                    cumque
                                                    dissimos dobus, dolorum eos expbo id iusto lorum<a href="#">[...]</a>
                                    </p>
                                    <div class="card-blog-footer d-flex justify-content-between align-items-end">
                                        <p class="date d-flex align-items-end">
                                            <i class="fas fa-calendar-alt"></i>
                                            April 25, 2023
                                        </p>
                                        <p class="info d-flex align-items-end">
                                            <span><i class="fas fa-comment-alt"></i>14</span>
                                            <span><i class="fas fa-heart"></i>22</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-card-wrapper hover3d-wrapper">
                            <div class="card-content hover3d-child">
                                <div class="card-blog-header">
                                    <div class="img-wrapper d-flex align-items-center justify-content-center">
                                        <a href="blog-single-post-sidebar-layout.html">
                                            <img alt="" class="img-fluid img" src="http://via.placeholder.com/1920x1080">
                                            <div class="tag bg-color-yellow">Design</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-blog-body">
                                    <h6><a href="#">Destinations for photos</a></h6>
                                    <p class="content">Lorem ipsum dolor sit amet, conctetur ping elit. A archcto codi
                                                    cumque
                                                    dissimos dobus, dolorum eos expbo id iusto lorum<a href="#">[...]</a>
                                    </p>
                                    <div class="card-blog-footer d-flex justify-content-between align-items-end">
                                        <p class="date d-flex align-items-center">
                                            <i class="fas fa-calendar-alt"></i>
                                            April 25, 2023
                                        </p>
                                        <p class="info d-flex align-content-center">
                                            <span><i class="fas fa-comment-alt"></i>11</span>
                                            <span><i class="fas fa-heart"></i>17</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
	<!-- [13] Footer -->
	<footer>
		<div class="container-fluid footer-inner">
			<div class="footer-top">
				<div class="container footer-top-inner">
					<p class="info-text">SANLAYAN</p>
					<a href="/">
						<div class="footer-logo">
							<img alt="Logo" class="img-fluid" src="static/img/logo.jpg">
						</div>
					</a>
					<div class="social-networks">
						<p class="title">Social Networks: </p>
						<ul class="social-list">
							<li>
								<a href="https://themeforest.net/user/jkdevstudio">
									<i class="fab fa-facebook-f"
									   style="color: #3B5999;"></i>
								</a>
							</li>
							<li>
								<a href="https://themeforest.net/user/jkdevstudio">
									<i class="fab fa-twitter"
									   style="color: #1DA1F2;"></i>
								</a>
							</li>
							<li>
								<a href="https://themeforest.net/user/jkdevstudio">
									<i class="fab fa-behance"
									   style="color: #053EFF;"></i>
								</a>
							</li>
							<li>
								<a href="https://themeforest.net/user/jkdevstudio">
									<i class="fab fa-dribbble"
									   style="color: #EA4C89;"></i>
								</a>
							</li>
							<li>
								<a href="https://themeforest.net/user/jkdevstudio">
									<i class="fab fa-vine"
									   style="color: #00B488;"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-body">
				<div class="container">
					<div class="footer-sidebar">
						<div class="row">
							<div class="col-lg-4">
								<div class="sidebar-widget text-widget">
									<h6 class="sidebar-title">About Us</h6>
									<p>Our team members have combined experience of >80 
										Years in Banking and financial services , Fund Raising 
										,Financial Management ,Sales and Operations</p>
									<h6 class="sidebar-title">Subscribe newsletter</h6>
									<form class="newsletter-form-widget">
										<input placeholder="Email*" required type="email">
										<button type="submit"><i class="fa fa-envelope"></i></button>
									</form>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="sidebar-widget latest-posts-widget">
									<h6 class="sidebar-title"></h6>
									<ul class="post-list">
										<li class="post">
											<a href="#">
												<div class="img-wrapper">
													<img alt="" class="img-fluid"
													     src="http://via.placeholder.com/1920x1080">
												</div>
											</a>
											<div class="post-body">
												<h6 class="post-title"><a href="#"></a></h6>
												<div class="description-box"><p class="date"> <a
														href="#"></a></p></div>
											</div>
										</li>
										<li class="post">
											<a href="#">
												<div class="img-wrapper">
													<img alt="" class="img-fluid"
													     src="http://via.placeholder.com/1920x1080">
												</div>
											</a>
											<div class="post-body">
												<h6 class="post-title"><a href="#"></a></h6>
												<div class="description-box"><p class="date"> <a
														href="#"></a></p></div>
											</div>
										</li>
										<li class="post">
											<a href="#">
												<div class="img-wrapper">
													<img alt="" class="img-fluid"
													     src="http://via.placeholder.com/1920x1080">
												</div>
											</a>
											<div class="post-body">
												<h6 class="post-title"><a href="#"></a></h6>
												<div class="description-box"><p class="date"><a
														href="#"></a></p></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="sidebar-widget contact-info-widget">
									<h6 class="sidebar-title">Contact Info</h6>
									<p class="description">Vikash Kumar</p>
									<ul class="contact-info">
										<li><i class="fa fa-map-marker"></i>
											<p></p></li>
										<li><i class="fa fa-envelope"></i><a href="#">vikash362@gmail.com</a></li>
										<li><i class="fa fa-phone"></i><a href="#">+91-9006811101</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="copyright-wrapper">
						<p class="copyright"><i class="fa fa-copyright"></i>2023 SANLAYAN. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- js-files -->
<!-- JQuery -->
<script src="static/assets/js/jquery-3.3.1.min.js"></script>
<!-- AOS -->
<script src="static/assets/js/aos.min.js"></script>
<!-- Parallax -->
<script src="static/assets/js/parallax.min.js"></script>
<!-- Progress Bars -->
<script src="static/assets/js/progressbar.min.js"></script>
<!-- Magnific -->
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Three -->
<script src="static/assets/js/three.min.js"></script>
<!-- Projector -->
<script src="static/assets/js/projector.min.js"></script>
<!-- Renderer -->
<script src="static/assets/js/canvas-renderer.min.js"></script>
<!-- ImageLoaded -->
<script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- Anime -->
<script src="static/assets/js/anime.min.js"></script>
<!-- Isotope -->
<script src="static/assets/js/isotope.pkgd.min.js"></script>
<!-- TweenLite -->
<script src="static/assets/js/TweenMax.min.js"></script>
<!-- Hover3D -->
<script src="static/assets/js/jquery.hover3d.min.js"></script>
<!-- EasePack -->
<script src="static/assets/js/EasePack.min.js"></script>
<!-- Particles -->
<script src="static/assets/js/particles.min.js"></script>
<!-- JSColor -->
<script src="static/assets/js/jscolor.min.js"></script>
<!-- YoutubeBackground -->
<script src="static/assets/js/jquery.youtubebackground.min.js"></script>
<!-- Waypoints -->
<script src="static/assets/js/jquery.waypoints.min.js"></script>
<!-- Swiper -->
<script src="static/assets/js/swiper.min.js"></script>
<!-- Main JS-file -->
<script src="static/assets/js/main.js"></script>
</body>
</html>