{% extends 'base.html' %}

{% block title %}Services | Sanlayan{% endblock title %}

{% block body %}

<!-- [3] Page-Header -->
<header class="page-header parallax-window bg_img dark_overlay" data-src="http://via.placeholder.com/1920x1080">
    <div class="container breadcrumbs-wrapper">
        <div class="breadcrumbs d-flex flex-column justify-content-center">
            <h1 class="title">Services</h1>
            <div>
                <ul class="breadcrumbs-list d-flex">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- [4] About Services -->
<section class="services-about large-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 img-wrapper d-flex align-items-center justify-content-center"
                 data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="100"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
                <a class="popup-modal video-popup d-flex align-items-center justify-content-center"
                   href="#video-post-1">
                    <div class="play-btn-scale">
                        <i class="fa fa-play"></i>
                    </div>
                </a>
                <div class="white-popup-block mfp-hide mfp-fade" id="video-post-1">
                    <div class="modal-video-box">
                        <iframe allowfullscreen
                                src="https://www.youtube.com/embed/KyKgBzFypzc"></iframe>
                        <button class="mfp-close" title="Close (Esc)" type="button">×</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-wrapper">
            <div class="col-lg-4 service-wrapper"
                 data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <span class="up-text">Digital</span>
                <h5 class="title">Digital services</h5>
                <p>Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis
                   sem, at interdum magna</p>
            </div>
            <div class="col-lg-4 service-wrapper"
                 data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="300"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <span class="up-text">Creative</span>
                <h5 class="title">Creative thinking & design</h5>
                <p>Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis
                   sem, at interdum magna</p>
            </div>
            <div class="col-lg-4 service-wrapper"
                 data-aos="fade-up"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="400"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <span class="up-text">Marketing</span>
                <h5 class="title">SEO & marketing</h5>
                <p>Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis
                   sem, at interdum magna</p>
            </div>
        </div>
    </div>
</section>
<!-- [5] Cards Section -->
<section class="services-cards-section border-top-simple border-bottom-simple gray-section cards-section bg_img"
         style="background-image: url('assets/img/assets/axiom-pattern.png')">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="section-title text-center title-divider"
                    data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="100"
                    data-aos-duration="700"
                    data-aos-easing="ease-in-out">About Agency
                    <span class="highlight">.</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"
                 data-aos="zoom-in"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <a class="image-popup" href="http://via.placeholder.com/1920x1080">
                            <img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
                            <i class="fa fa-search plus"></i>
                        </a>
                    </div>
                    <div class="card-service-body">
                        <h6>E-Commerce Solutions</h6>
                        <p>Morbi in ipsum sit amet pede facilisis laoreet.
                           Donec lacus nunc viverra nec lacinia moltie
                           luctus et ultrices</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"
                 data-aos="zoom-in"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="300"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <a class="image-popup" href="http://via.placeholder.com/1920x1080">
                            <img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
                            <i class="fa fa-search plus"></i>
                        </a>
                    </div>
                    <div class="card-service-body">
                        <h6>E-Commerce Solutions</h6>
                        <p>Morbi in ipsum sit amet pede facilisis laoreet.
                           Donec lacus nunc viverra nec lacinia moltie
                           luctus et ultrices</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"
                 data-aos="zoom-in"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="400"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        <a class="image-popup" href="http://via.placeholder.com/1920x1080">
                            <img alt="" class="img-fluid" src="http://via.placeholder.com/1920x1080">
                            <i class="fa fa-search plus"></i>
                        </a>
                    </div>
                    <div class="card-service-body">
                        <h6>E-Commerce Solutions</h6>
                        <p>Morbi in ipsum sit amet pede facilisis laoreet.
                           Donec lacus nunc viverra nec lacinia moltie
                           luctus et ultrices</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-wrapper d-flex justify-content-center"
             data-aos="fade-up"
             data-aos-anchor-placement="top-bottom"
             data-aos-delay="500"
             data-aos-duration="700"
             data-aos-easing="ease-in-out">
            <a class="button-default-color-2" href="#"><i class="fa fa-terminal"></i>Explore Features</a>
        </div>
    </div>
</section>
<!-- [6] Services Grid -->
<section class="services-grid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 image color_overlay bg_img"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="100"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out"
                 style="background-image: url('http://via.placeholder.com/1920x1080')"></div>
            <div class="col-lg-6 content gray-section"
                 data-aos="fade-left"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="content-wrapper left-align-content">
                    <h4>High Quality</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, animi architecto
                       asperiores commodi debitis doloribus ex expedita incidunt nemo neque nesciunt officia omnis
                       porro possimus repellendus, sunt vel veniam. Molestiae nam nesciunt nobis
                       odio placeat quaerat</p>
                    <div class="btn-wrap d-flex">
                        <a class="button-default-black-2" href="#">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 content gray-section resposive-content"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="content-wrapper right-align-content">
                    <h4>Best Digital Production</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, animi architecto
                       asperiores commodi debitis doloribus ex expedita incidunt nemo neque nesciunt officia omnis
                       porro possimus repellendus, sunt vel veniam. Molestiae nam nesciunt nobis
                       odio placeat quaerat</p>
                    <div class="btn-wrap d-flex">
                        <a class="button-default-black-2" href="#">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 image color_overlay resposive-image bg_img"
                 data-aos="fade-left"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="100"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out"
                 style="background-image: url('http://via.placeholder.com/1920x1080')"></div>
            <div class="col-lg-6 image color_overlay bg_img"
                 data-aos="fade-right"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="100"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out"
                 style="background-image: url('http://via.placeholder.com/1920x1080')"></div>
            <div class="col-lg-6 content gray-section"
                 data-aos="fade-left"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-delay="200"
                 data-aos-duration="700"
                 data-aos-easing="ease-in-out">
                <div class="content-wrapper left-align-content">
                    <h4>Unique Websites</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, animi architecto
                       asperiores commodi debitis doloribus ex expedita incidunt nemo neque nesciunt officia omnis
                       porro possimus repellendus, sunt vel veniam. Molestiae nam nesciunt nobis
                       odio placeat quaerat</p>
                    <div class="btn-wrap d-flex">
                        <a class="button-default-black-2" href="#">Read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [7] Pricing table -->
<section class="pricing-table-type-1 cards-section border-bottom-simple border-top-simple light-gray-section bg_img"
         style="background-image: url('assets/img/assets/absurdity.png')">
    <div class="container">
        <div class="row"
             data-aos="fade-up"
             data-aos-anchor-placement="top-bottom"
             data-aos-delay="100"
             data-aos-duration="700"
             data-aos-easing="ease-in-out">
            <div class="col-lg-3 pricing-table-wrapper">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-type">Starter</p>
                        <h2 class="price">
                            <span>$</span>
                            19
                        </h2>
                    </div>
                    <ul class="features-list">
                        <li><p>Free Setup</p></li>
                        <li><p>Powerful Customization</p></li>
                        <li><p>Unlimited Items</p></li>
                        <li><p>24/7 Support</p></li>
                    </ul>
                    <div class="btn-wrapper d-flex">
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pricing-table-wrapper">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-type">Silver</p>
                        <h2 class="price">
                            <span>$</span>
                            39
                        </h2>
                    </div>
                    <ul class="features-list">
                        <li><p>Free Setup</p></li>
                        <li><p>Powerful Customization</p></li>
                        <li><p>Unlimited Items</p></li>
                        <li><p>24/7 Support</p></li>
                    </ul>
                    <div class="btn-wrapper d-flex">
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pricing-table-wrapper active-card">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <div class="best-value">Best Value</div>
                        <p class="pricing-type">Gold</p>
                        <h2 class="price">
                            <span>$</span>
                            49
                        </h2>
                    </div>
                    <ul class="features-list">
                        <li><p>Free Setup</p></li>
                        <li><p>Powerful Customization</p></li>
                        <li><p>Unlimited Items</p></li>
                        <li><p>24/7 Support</p></li>
                    </ul>
                    <div class="btn-wrapper d-flex">
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pricing-table-wrapper">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-type">Platium</p>
                        <h2 class="price">
                            <span>$</span>
                            99
                        </h2>
                    </div>
                    <ul class="features-list">
                        <li><p>Free Setup</p></li>
                        <li><p>Powerful Customization</p></li>
                        <li><p>Unlimited Items</p></li>
                        <li><p>24/7 Support</p></li>
                    </ul>
                    <div class="btn-wrapper d-flex">
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [8] Newsletter Section -->
<section class="newsletter-section dark_overlay dark_overlay_gradient bg_img"
         style="background-image: url('http://via.placeholder.com/1920x1080')">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center">
                <div class="content-wrapper"
                     data-aos="fade-right"
                     data-aos-anchor-placement="top-bottom"
                     data-aos-delay="100"
                     data-aos-duration="700"
                     data-aos-easing="ease-in-out">
                    <h3>Subscribe newsletter</h3>
                    <p>Integer euismod lacus luctus magna quisque cursus, metus vitae pharetra auctor, sem massa
                       mattis
                       sem, at interdum magna</p>
                </div>
                <div class="newsletter-wrapper"
                     data-aos="fade-left"
                     data-aos-anchor-placement="top-bottom"
                     data-aos-delay="100"
                     data-aos-duration="700"
                     data-aos-easing="ease-in-out">
                    <form class="d-flex" id="form-newsletter">
                        <input placeholder="E-mail" type="email">
                        <button>Send <i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}